<h1 class="font-serif text-4xl mb-8">Add New NFT</h1>

<div class="max-w-2xl">
  <%= render 'form' %>
</div>

<div class="mt-8">
  <%= link_to 'â† Back to Art', art_index_path, class: 'text-gold' %>
</div>