<% title "Toys" %>

<div class="flex items-start mb-0">
  <h1 class="font-serif text-4xl">Toys</h1>
  <% if user_signed_in? %>
    <span class="mt-2 ml-4"><%= link_to 'Add New Toy', new_toy_path %></span>
  <% end %>
</div>
<p class="mt-0 text-lg">I started collecting designer toys back in 2004. Eventually, my little hobby turned into an <a href="https://joshpigford.com/projects/fugitive-toys">actual toy store</a> that my wife and I started in 2006, and then sold in 2009. My collection isn't quite what it was back then, but in the past few years I've started actively collecting again. This is a place for me to show off that collection!</p>