<div>
  <nav aria-label="breadcrumb">
    <%= link_to 'Articles', articles_path %>
  </nav>
  <h1 class="font-serif text-4xl">Edit '<%= @article.title %>'</h1>
</div>

<%= render 'form', article: @article %>