<div class="flex items-start">
  <h1 class="font-serif text-4xl">Articles</h1>
  <% if user_signed_in? %>
    <span class="ml-4 mt-2"><%= link_to 'Add New Article', new_article_path %></span>
  <% end %>
</div>

<ul>
  <% @articles.each do |article| %>
    <li>
      <%= link_to article.title, article_path(article) %>
    </li>
  <% end %>
</ul>