<div>
  <nav aria-label="breadcrumb">
    <%= link_to 'Articles', articles_path %>
  </nav>
  <h1 class="font-serif text-4xl mt-2 mb-0"><%= @article.title %></h1>
  <span class="text-gray-500 text-sm">
    <%= @article.publish_at.strftime("%B %d, %Y") %>
  </span>
</div>

<article>
  <%= markdown @article.body %>
</article>
