<div class="prose dark:prose-invert font-serif">
  <p class="text-3xl">Dabbler. Currently building <a href="https://maybe.co" class="thick-link">Maybe</a>, the OS for your personal finances.</p>
  <p class="text-2xl">You can find me on <a href="https://twitter.com/Shpigford" class="thick-link">Twitter</a>. I really spend far too much time there.</p>
</div>