<% content_for :meta do %>
<meta property="profile:first_name" content="Josh">
<meta property="profile:last_name" content="Pigford">
<% end %>


<div class="font-serif prose dark:prose-invert">
  <p class="text-3xl">Dabbler. Currently building <a href="https://maybe.co" class="thick-link">Maybe</a>, the OS for your personal finances.</p>
  <p class="text-2xl">You can find me on <a href="https://twitter.com/Shpigford" class="thick-link">Twitter</a>. I really spend far too much time there.</p>
</div>

<script type="application/ld+json">
{
  "@context": "https://schema.org/",
  "@type": "Person",
  "name": "Josh Pigford",
  "url": "https://joshpigford.com",
  "image": "https://joshpigford.com/avatar.jpg",
  "sameAs": [
    "https://twitter.com/Shpigford",
    "https://x.com/Shpigford",
    "https://joshpigford.com",
    "https://github.com/Shpigford",
    "https://www.linkedin.com/in/joshpigford/"
  ],
  "jobTitle": "CEO",
  "worksFor": {
    "@type": "Organization",
    "name": "Maybe"
  }  
}
</script>