<% title "Books" %>

<div class="flex items-start">
  <h1 class="font-serif text-4xl">Books</h1>
  <% if user_signed_in? %>
    <span class="mt-2 ml-4"><%= link_to 'Add New Book', new_book_path %></span>
  <% end %>
</div>
<p class="mt-0 text-lg">I go in phases with reading...sometimes consuming multiple books a month while other times taking months to read one book. This is a list of books I recommend. If Goodreads is your jam, <a href="https://www.goodreads.com/shpigford">I'm there as well</a>.</p>

<h2>Fiction</h2>
<ul>
  <% @fiction.each do |book| %>
    <li>
      <%= link_to book.title, book.link %>
    </li>
  <% end %>
</ul>

<h2>Non-Fiction</h2>
<ul>
  <% @nonfiction.each do |book| %>
    <li>
      <%= link_to book.title, book.link %>
    </li>
  <% end %>
</ul>